button, .btn, *[type='submit']{
	border-radius: 1vmin;
	padding: 4vmin 4vmax;
	font-size: 1.7vmax;
	line-height: 2vmax;
	color: white;
	font-size: bold;
	background-color: rgb(244,120,53);
	border: 1px solid rgb(195,96,42) ;
}

button.success, .btn.success, *[type='submit']{
	background-color: rgb(142,193,39);
	border: 1px solid rgb(113,154,31);
}

button:hover, .btn:hover{
	background-color: rgb(219,108,47) ;
	border: 1px solid rgb(195,96,42) ;
	box-shadow: inset 0px 2px 4px rgba(33, 33, 33, 0.6);
}
button.success:hover, .btn.success:hover, *[type='submit']:hover{
	background-color: rgb(127,173,35);
	border: 1px solid rgb(113,154,31);
	box-shadow: inset 0px 2px 4px rgba(33, 33, 33, 0.6);
}

input[type='text'], input[type='password']{
	border-radius: 1vmin;
	padding: 4vmin 4vmax;
	font-size: 1.7vmax;
	line-height: 2vmax;
	border: 1px solid rgb(188, 188, 188);
	background-color: rgba(255, 255, 255, 0.8);
}
input[type='text']:focus, input[type='password']:focus{
	border: 1p solid rgb(0,174,219);
	box-shadow: 0px 0px 5px rgba(0, 174, 219, 0.6);
}