*:focus, *:active {
    outline: none;
}
body, html{
	margin: 0px !important;
	padding: 0px !important;
	font-family: "Helvetica";
	background-color: rgb(250, 250, 251);
}

#templates{
	display: hidden;
	height:0px;
	width: 0px;
	position: absolute;
	overflow: hidden;
} 
#heading{
	width: 100vw;
	height: 20vh;
	border-bottom: 1px solid rgb(188, 188, 188);
	box-shadow: 0px 0px 5px rgb(133, 133, 133);
	position: fixed;
	top: 0;
	background-color: white;
}
#overview{
	width: 100vw;
	height: 12vh;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(188, 188, 188);
}
#back_btn{
	display: hidden;
	margin: 3vh;
	height: 6vh;
	width: 6vh;
}
#townname{
	flex: 1;
	text-align: center;
	height: 12vh;
	line-height: 12vh;
	font-size: 6vh;
}
#user_icon, #back{
	width: 20vw;
	height: 12vh;
	line-height: 12vh;
}
#avatar{
	margin: 3vh;
	float: right;
	height: 6vh;
	width: 6vh;
}
#navigationbar{
	width: 100vw;
	height: 8vh;
}

#navigationbar{
	display: flex;
}
#navigationbar > .navigation_item{
	flex: 1;
	text-align: center;
	font-size: 2vh;
	padding: 3vh;
}
#navigationbar:not(:first-child) > .navigation_item{
	border-left: 1px solid rgb(188, 188, 188);
}
.navigation_item.active{
	background-color: rgb(162,0,255);
	color: white;
}
/* LOGIN & REGISTER  */
#app.hiddenHeading > #heading{
	-webkit-transform: translate3d(0, -20.1vh, 0);
	transform: translate3d(0, -20.1vh, 0);
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

#login_form{
margin: 5vh 5vw;
}
.login_input {
    display: inline-box;
    width: 100%;
    margin:1vh 0;
    box-sizing: border-box;
}

/* CONTENT STARTS HERE */
#content{
	margin-top: 20vh;
}
#create_new_list{
	display: flex;
	justify-content: center;
}
#create_new_list_btn{
	margin: 2vh 0;
	width: 66vw;
}
